body {
  background: #000;
  color: #0f0;
  font-family: monospace;
}

#termOutput {
  height: 90vh;
  overflow-y: auto;
  padding: 10px;
}

.inputLine {
  display: flex;
  padding: 10px;
}

input {
  background: #000;
  border: none;
  outline: none;
  color: #0f0;
  flex: 1;
}
